<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:label="ToonStream"
        tools:replace="android:label">

        <meta-data
            android:name="tachiyomi.animeextension.class"
            android:value="eu.kanade.tachiyomi.animeextension.en.toonstream.ToonStream"
            tools:replace="android:value" />
        <meta-data
            android:name="tachiyomi.animeextension.nsfw"
            android:value="false"
            tools:replace="android:value" />

        <service
            android:name="eu.kanade.tachiyomi.animeextension.en.toonstream.ToonStream"
            android:exported="true">
            <intent-filter>
                <action android:name="eu.kanade.tachiyomi.animesource.AnimeSource" />
            </intent-filter>
        </service>

    </application>
</manifest>
